@model HotelsApp.Models.InputModels.LocationInputModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>Find nearest hotels!</h4>
</div>

<div class="row">
    <div class="col-md-6">
        <div style="width: 640px; height: 480px" id="mapContainer"></div>
    </div>

    <div class="col-md-3 ml-3">
        <div id="loading-image" class="loader" hidden></div>
        <div id="found-hotel">
        </div>
    </div>
</div>

<input id="lat" hidden />
<input id="lng" hidden />

<button id="submit-button" hidden>Get Property</button>



<script src="~/js/map.js"></script>
<script src="~/js/hotelInfo.js"></script>
<script src="~/js/booking.js"></script>