@model HotelsApp.Models.ViewModels.PropertyViewModel[]

@{
    ViewData["Title"] = "Hotels Info";
}

    <div class="row">
        @foreach (var hotel in Model)
        {
            <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@hotel.Media.Images.Items.First().Value" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@hotel.Name</h5>
                    <p class="card-text">Address: @Html.Raw(hotel.Location.Address.Text)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
                </div>
        }
    </div>
