* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    list-style-type: none !important;
    justify-content: center;
}

.nav-link {
    color: black !important;
    font-size: 2rem;
    text-decoration: none;
}

#page-title {
    font-size: 2rem;
    text-align: center;
}

#found-hotel {
    margin-left: 20rem;
}

.description {
    font-style: italic;
}

.main {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

.hotel-description {
    font-size: 1.3rem;
}

.hotel-title {
    font-size: 1.5rem;
    text-align: center;
}

.hotel-image {
    width: 100%;
}

a {
    color: #0366d6;
}

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


button {
    border-radius: 8px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    #wrapper {
        flex-direction: column;
    }
}